<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2022</title>
    <style>
        th,td,tr {padding: 5px; border: solid 1px black;}
    </style>
</head>
<body>
    {% block home %}
    {% endblock %}

    {% block login %}
    {% endblock %}
    {% block logout %}
    {% endblock %}

    {% block user_add %}
    {% endblock %}
    {% block user_all %}
    {% endblock %}
    {% block user_edit %}
    {% endblock %}

    {% block upload %}
    {% endblock %}
    {% block document_add %}
    {% endblock %}
    {% block document_all %}
    {% endblock %}
    {% block document_edit %}
    {% endblock %}
    {% block document_list_shared %}
    {% endblock %}

    {% block document_count %}
    {% endblock %}
    {% block student_count %}
    {% endblock %}
    {% block document_details %}
    {% endblock %}
    {% block professor_details %}
    {% endblock %}
</body>
</html>